.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    background-color: white;
    color: black;
    border-color: black;
    border: 5px solid gray;
    border-radius: 10px;
    padding: 14px 32px 14px 16px;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
}


.card-icon {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: black;
}
.card-icon img {
    width: 100%;
    height: auto;
}

.card-text { 
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}