.page-flex {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(110, 110, 120);
}



.container-fluid{
  background-color: rgb(150, 115, 115);
  padding: 5px;
  margin: 5px;

}