#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body,
html {
  color: white;
  background-color: #1b1b32;
  font-family: sans-serif;
  margin-top: 40px;
}

h1 {
  color: #ffffff;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}